<!-- <div class="chart-container">
    <h4>Genre Distribution</h4>
    <canvas id="piechart"></canvas>
  </div> -->

<!-- <div class="profile-page"> -->
<div class="profile-page" [hidden]="!user || !stats">
  <!-- TOP SECTION -->
  <div class="profile-top">
    <!-- LEFT : PROFILE IMAGE -->
    <div class="profile-left">
      <img src="{{ user.profilePic }}" alt="Profile" class="profile-img" />

      <h2 class="username">{{ user.name }}</h2>
      <p class="email">{{ user.email }}</p>
    </div>

    <!-- RIGHT : USER DETAILS -->
    <div class="profile-right">
      <h3>User Details</h3>

      <div class="detail">
        <span>Joined</span>
        <strong>{{ user.joinedAt | date : "MMM yyyy" }}</strong>
      </div>

      <div class="detail">
        <span>Total Watched</span>
        <strong>{{ stats.watchedCount }}</strong>
      </div>

      <div class="detail">
        <span>Watchlist</span>
        <strong>{{ stats.watchlistCount }}</strong>
      </div>

      <button class="edit-btn">Edit Profile</button>
    </div>
  </div>

  <!-- BOTTOM : ANALYTICS -->
  <div class="profile-analytics">
    <h3>Analytics</h3>
<div class ="view-stats-charts">
    <!-- STATS CARDS -->
    <div class="stats">
      <div class="stat-card">
        <h4>🎬 Watched</h4>
        <p>{{ stats.watchedCount }}</p>
      </div>

      <div class="stat-card">
        <h4>❤️ Liked</h4>
        <p>{{ stats.likedCount }}</p>
      </div>

      <div class="stat-card">
        <h4>⏰ Watchlist</h4>
        <p>{{ stats.watchlistCount }}</p>
      </div>
    </div>

    <!-- BAR CHART -->
    <div class="chart">
      <!-- <h4>Top Genres</h4>

      <div class="bar" *ngFor="let genre of topGenres">
        <span>{{ genreMap[genre.genreId] || 'Genre ' + genre.genreId }}</span>

        <div class="bar-fill" [style.width.%]="genre.count * 10"></div>
      </div> -->
      <!-- PIE CHART -->
      <div class="chart-container">
        <h4>Genre Distribution</h4>
        <canvas id="piechart"></canvas>
      </div>
    </div>
</div>    

    <app-carousel
      *ngIf="watchListMovies.length > 0"
      [title]="'WatchLater Movies'"
      [isExplore]="false"
      [exploreLink]="''"
      [items]="watchListMovies"
      [canNavigateLeft]="true"
      [canNavigateRight]="true"
      [carouselType]="'watchlist'"
    >
    </app-carousel>

    <app-carousel
      *ngIf="watchedMovies.length > 0"
      [title]="'Watched Movies'"
      [isExplore]="false"
      [exploreLink]="''"
      [items]="watchedMovies"
      [canNavigateLeft]="true"
      [canNavigateRight]="true"
      [carouselType]="'watched'"
    >
    </app-carousel>
  </div>
</div>
